<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ehealth.application.appointeeth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppoinTeeth.NoActionBar">
        <activity
            android:name=".AppointmentDoneActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.selectclinique.AdapterAppointmentSelectCliniqueActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.selecttimeslots.AppointmentSelectTimeslotActivity"
            android:exported="false" />
        <activity
            android:name=".appointment.selectclinique.AppointmentSelectCliniqueActivity"
            android:exported="false" />
        <activity
            android:name=".LoadSelectedDoctorPage"
            android:exported="false" />
        <activity
            android:name=".AdapterSearchDoctorActivity"
            android:exported="false" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".profile.editservices.addservice.AddServiceActivity" />
        <activity android:name=".profile.editservices.removeservice.RemoveServiceActivity" />
        <activity android:name=".profile.editworkhours.SelectCliniqueActivity" />
        <activity android:name=".profile.editworkhours.WorkHoursActivity" />
        <activity android:name=".profile.editclinique.addclinique.AddCliniqueActivity" />
        <activity android:name=".profile.editclinique.removeclinique.RemoveCliniqueActivity" />
        <activity android:name=".profile.PatientProfileActivity" />
        <activity android:name=".profile.DoctorProfileActivity" />
        <activity android:name=".profile.searchservices.PatientSearchServicesActivity" />
        <activity android:name=".profile.searchdoctors.SearchDoctorsActivity" />
        <activity android:name=".PacientHomePageActivity" />
        <activity android:name=".register.RegisterPatientActivity" />
        <activity android:name=".register.RegisterDoctorActivity" />
        <activity android:name=".DoctorHomePageActivity" />
        <activity android:name=".login.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>